.box{
    max-width: 400px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    border: #1c1c1c solid 1px;
    align-items: center;
    gap: 20px;
  }
  .box img{
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  .box p{
    padding: 0 10px ;
    margin: auto 0;
  }
  .box a{
    padding-bottom: 10px;
  }
  
  .caixas{
    width: 96vw;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    overflow-x: scroll;
    padding-bottom: 6px;
  }
  .caixas::-webkit-scrollbar{
    display: block;
  }
  .caixas::-webkit-scrollbar-thumb{
    background: #5B5B5B;
    
    box-shadow: inset 2px 2px 2px hsl(0deg 0% 100% / 25%), inset -2px -2px 2px rgb(0 0 0 / 25%);
  }
 .caixas::-webkit-scrollbar-track{
  background: #1c1c1c;
 }
 .role img{
  filter: brightness(0);
    rotate: 180deg;
    width: 24px;
 }

 .role{
  margin-right: 2vw;
  margin-top: 6px;
  display: flex;
  flex-direction: row-reverse;
  gap:20px;
 }
