* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-margin-top: 10px;
  scroll-behavior: smooth;
}
html {
  position: fixed;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  width: 100vw; 
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background: white;
}
a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}